html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
  height:100%;
}

#map {
    width: 100%;
}

#img_brand {
    margin-left: 10px;
}

.navbar {
    margin-bottom: 0px;
}

#input_form {
    width: 300px;
}


.container-fluid {
    padding: 0px;
    background-color: #f9f9f9;
}

.list-items {
    padding:20px;
}

.instruction {
    padding-left: 20px;
    color: grey;
}

.bold {
    color: black;
}

