html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
  height:100%;
/*
  width:100%;
  margin:0;
  padding:0;
*/
}

#map {
    width: 100%;
}

#img_brand {
    margin-left: 10px;
}

.navbar {
    margin-bottom: 0px;
}

#input_form {
    width: 300px;
}


.container-fluid {
    padding: 0px;
    background-color: #f9f9f9;
}

.list-items {
    padding:20px;
}

.instruction {
    padding-left: 20px;
    color: grey;
}

.bold {
    color: black;
}

/*
 #listing {
    position: absolute;
    width: 200px;
    height: 470px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

 #resultsTable {
    border-collapse: collapse;
    width: 240px;
}
#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}
.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}
.iw_table_icon {
    text-align: right;
}
*/
